* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #0f172a;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  color: #f8fafc;
  margin: 13px;
}
.navbar .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #cbd5f5;
  margin-left: 48rem;
}
.navbar .menu a {
  text-decoration: none;
  color: #cbd5f5;
  padding: 15px;
  font-size: 18px;
}
.navbar .menu a:hover {
  color: #38bdf8;
}

.hamburger {
  width: 30px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  margin: 6px 0;
  border-radius: 2px;
}
.hero {
  background: #1e3a8a;
  padding: 20px;
}
.hero h1 {
  color: #f8fafc;
  text-align: center;
  padding-top: 2rem;
  font-size: 48px;
}
.hero h3 {
  color: #e0f2fe;
  text-align: center;
}
.hero p {
  color: #c7d2fe;
  text-align: center;
  padding: 1rem 15rem;
  font-size: 20px;
}
.hero button {
  display: block;
  margin: 2rem auto;
  padding: 10px 20px;
  font-size: 18px;
  color: #0f172a;
  background-color: #2563eb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hero button:hover {
  background-color: #0ea5e9;
}
.aboutme {
  background: #020617;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 5px;
}
.aboutme h2 {
  color: #f8fafc;
  padding-top: 2rem;
  font-size: 36px;
}
.aboutme p {
  color: #94a3b8;
  padding: 1rem 1rem;
  font-size: 20px;
  line-height: 1.6;
}
.skill {
  background-color: #020617;
  padding: 20px;
  font-size: 20px;
}
.skill h2 {
  color: #f8fafc;
  font-size: 36px;
}
.skill .container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.skill .container .card {
  background-color: #0f172a;
  margin: 15px;
  padding: 20px;
  border-radius: 8px;
  color: #f8fafc;
  text-align: center;
}
.project {
  background: #020617;
  padding: 20px;
  font-size: 20px;
}
.project h2 {
  color: #f8fafc;
  font-size: 36px;
  padding-bottom: 25px;
}
.project .container {
  display: grid;
  grid-template-columns: auto auto;
}
.project .container .box {
  background: #0f172a;
  color: #f8fafc;
  padding: 20px;
  border-radius: 8px;
  margin: 15px;
  text-align: center;
}
.project .container .box button {
  display: block;
  margin: 2rem auto;
  padding: 10px 20px;
  font-size: 18px;
  color: #0f172a;
  background-color: #2563eb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.project .container .box button:hover {
  background-color: #0ea5e9;
}
.contact {
  background: #0f172a;
  color: white;
  text-align: center;
}
.contact h2 {
  color: #f8fafc;
  font-size: 36px;
  text-align: center;
  padding-top: 2rem;
}
.contact p {
  color: #94a3b8;
  padding: 1rem 1rem;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}
.contact a {
  color: #38bdf8;
  text-decoration: none;
  line-height: 1.6;
}
.contact a:hover {
  text-decoration: underline;
}
footer {
  background: #020617;
  color: #64748b;
  text-align: center;
  padding: 15px;
}
